.App>div {
    width: 35%;
}

.container {
    width: inherit;
}

.Home {
    background-color: #90959e;
}

.InstantInfo {
    border: 2px solid black;    
    background-color: #6e97e0;
    color: #fafafa;
}

.ExtraInfo {
    background-color: #fafafa;
    color: black;
    font-weight: bold;
}

.ExtraInfo-Left {
    margin-left: 5%;
    float: left;
}

.ExtraInfo-Right {
    margin-right: 5%;
    float: right;
}

.BudgetAmount {
    font-size: 3em;
}